<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Imobiliária | Boas vindas</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
	<div id="app-boasvindas">
        <barra-superior></barra-superior>
        <div class="boas-vindas">
            <div class="container-texto-boasvindas">
                <h1 class="texto-boasvindas texto-boasvindas-principal">Seja bem-vindo a nossa imobiliária!</h1>
                <h3 class="texto-boasvindas">Por favor, realize seu login ou cadastre-se para acessar nosso catálogo.</h3>
            </div>
            <img th:src="@{/img/boasvindas.jpg}" class="boas-vindas-img" alt="Imagem de um casarão.">
        </div>
        <barra-inferior></barra-inferior>
    </div>

	<script type="module" th:inline="javascript">

        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        import BarraSuperior from '/components/BarraSuperior.js'
        import BarraInferior from '/components/BarraInferior.js'

        createApp({
            components: {
                BarraSuperior,
                BarraInferior
            }
        }).mount('#app-boasvindas');
    </script>
</body>
</html>